html {
  box-sizing: border-box;
}

*, *:after,  *:before{
  box-sizing: inherit;
}

@font-face{
  font-family: "Exo";
  src: url("Exo2.0-Thin.otf") format("opentype");

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Trebuchet MS';
  background-color: #ccc; /*сделать градиент как в макете*/
  background-image: url("background.png");
}


.header {
  font-family: 'Exo';
  display: flex;
  justify-content: center;
}

.wrapper {
  height: 680px;
  width: 1280px;
  margin: 0 auto;  
  display: flex;
}

.item {
  margin-left: 88px;
  width: 320px;
  height: 520px;
  box-sizing:border-box;
}



.item__block {
  width: 320px;
  height: 480px;
  background-color: transparent;
  border-radius: 9px;
  margin-bottom: 15px;

  display:flex;
  flex-direction: column;
}

h1 {
  color: white;
}

li {
  list-style: none;
}

.item-image {
  background: white;
  flex-grow: 1;
}

.item__image img {
  padding-top: 10.5px;
  width: 100%;
  background: white;
  border-radius: 0 0 3px 3px;
}

.item-first{
  position: relative;
}

.item__top {
  display: flex;
  position: relative;

}

/*Эммммм......*/

.item__corner{
  height: 44px;
  width: 44px;
  
  background: transparent;
  position: relative;
}


.item__corner::after{
  width: 0;
  height: 0;
  border-top: 44px solid transparent;
  border-right: 44px solid transparent;

  content: "";
  position: absolute;
}

.item__corner::before {
  width: 0;
  height: 0;
  border-bottom: 44px solid white;
  border-left: 44px solid transparent;

  content: "";
  position: absolute;
}

.corner-triangle__border {
  width: 62px;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 4px solid #1698d9;
  transform: rotate(135deg);

  content: "";
  position: absolute;

  top: 21.5px;
  left: -8px;
}


.item__parag {
  padding-top: 15px;
  height: 44px;
  padding-right: 44px;
  flex-grow: 1;
  background: white;
  border: 4px solid #1698d9;
  border-radius: 0 6px 0 0;
  border-left: none;
  border-bottom: none;
}


.item__description {
  font-size:16px;
  color: #666;
}

.inner__block {
  height: 436px;
  background: white;
  border: 4px solid #1698d9;
  border-top: none;
  border-radius: 0 0 6px 6px;
}


.item__header {
  padding-left: 44px;
  padding-right: 44px; 
  /*position: absolute;*/
  margin: 0;
  background: white;
}

/*Временно*/
.item__header h1{
  color:black;
  font-size: 48px;
  margin: 0;  

}

.item__header h2{
  color:black;
  margin: 0;
  margin-bottom: 5px;
}

.item__header ul{
  list-style: none;
  padding: 0;
  font-size: 14px;
  color: #666;
}

.circle {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: #1698d9;
  border-radius: 50%;
  margin-left: 224px;
  margin-top: 374px;
}

.weight-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.circle .weight{
  display: flex;
  justify-content: center;

  font-size: 42px;
  color: white;

  padding-top: 5px;
}

.circle .kg{
  color: white;

  display: flex;
  justify-content: center;
}

.item__footer {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
}


/*стили hover для React */
.item:hover .corner-triangle__border {
    border-color: #2ea9e6;
}

.item:hover .item__parag {
    border-color: #2ea9e6;
}

.item:hover .inner__block {
    border-color: #2ea9e6;
}

.item:hover .circle {
    background-color: #2ea9e6;
}

/*стили для выбранного Item (for React)*/
.selected{
  background-color: #d91667;
}

.selected2{
  border: 4px solid #d91667;
  border-left: none;
  border-bottom: none;
}

.selected3 {
  border: 4px solid #d91667;
  border-top: none;
}

.selected4 {
  border-bottom: 4px solid #d91667;
}

.visible {
  display: none;
}


